/* 
general settings

*, *::before, *::after { 
    box-sizing: border-box;
 }

*/

 html {
    scroll-behavior: smooth;
}

/* 
basic font and textdesign 
*/

body {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0,0,0);
}

h1 {
    text-align: center;
    margin: 0px;
    padding: 25px;
}

p {
    margin: 0px;
    padding: 25px;
}


section {
    width: 100%;
    border: 1px;
}

/*
navigation
*/

.header-navbar {
    position: sticky;
    top: 0;
}

.header-navbar-list {
    display: flex;
    justify-content: flex-end;
    background-color:rgb(255, 255, 255);
    padding: 30px 30px 25px;
    box-shadow: rgba(0,0,0,0.2) 0px 2px 7px 0px;
    margin: 0px;
}

.header-navbar-list li {
    list-style-type: none;
    text-decoration: none;
    margin-right: 50px;
    cursor: pointer;
}

li a {
    color: rgb(0,0,0);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.header-navbar-list a:hover {
    color:rgb(195, 137, 67);
}

/*
header image
*/

/* https://codepen.io/yancy/pen/gBLLxz & https://developer.mozilla.org/en-US/docs/Web/CSS/:hover*/
.header-image {
    filter: grayscale(100%);
    padding-top: 2px;
}

.header-image:hover {
    filter: grayscale(0%);
}

/*
sections
*/

.about {
    height: 300px;
    background-color: rgb(244, 240, 236);
}

.members {
    height: 500px;
}

.references {
    height: 300px;
    background-color: rgb(244, 240, 236);
}

.contact {
    height: 400px;
}

/*
boxes in the section members
*/

header.title {
    margin: auto;
    text-align: center;
}

div.column {
    float: left;
    width: 50%;
    margin: auto;
}

div.bullet-flows-left {
    float: right;
    margin: 20px;
    background-color: lightblue;
}

div.bullet-flows-right {
    float: left;
    margin: 20px;
    background-color: lightcoral;
}

div.text-left {
    float: left;
    display: inline;
    padding: 10px;
    margin: auto;
}

div.text-right {
    float: right;
    display: inline;
    text-align: right;
    padding: 10px;
    margin: auto;
}


/*
navigation-footer
*/

.footer-navbar-list {
    display: flex;
    justify-content: flex-end;
    padding: 30px 30px 50px;
    margin: 0;
}

.footer-navbar-list li{
    list-style-type: none;
    margin-right: 25px;
    cursor: pointer;
    color: rgb(0,0,0);
}

.footer-navbar-list a:hover {
    color:rgb(195, 137, 67);
}


